/* .sidebar-drawer .ant-drawer-header {
    border-bottom: 1px solid #a0a0a0;
}
.sidebar-drawer .ant-drawer-body {
    padding: 0px !important;
}

.sidebar-tabs {
    border-bottom: 1px solid #a0a0a0;
    padding: 15px;
}

.sidebar-tabs > a {
    color: #212529;
}

.sidebar-tabs:hover {
    border-bottom: 1px solid #a0a0a0;
    padding: 15px;
    background-color: #dae0e5 !important;
} */

.sidebar-container > aside {
    height: 100% !important;
}
