.sidebar-container > aside > div,
.sidebar-container .ant-menu-dark {
    background-color: #00712d !important;
}
.sidebar-container > aside {
    height: 100% !important;
}
@media only screen and (max-width: 600px) {
    .sidebar-hidden > .ant-layout-sider-collapsed {
        flex: 0 0 0px !important;
        max-width: 0px !important;
        min-width: 0px !important;
        width: 0px !important;
    }
    .sidebar-hidden .ant-menu-inline-collapsed {
        /* flex: 0 0 0px !important;
    max-width: 0px !important;
    min-width: 0px !important; */
        width: 0px !important;
    }
    .sidebar-hidden .ant-menu-item-selected {
        /* flex: 0 0 0px !important;
    max-width: 0px !important;
    min-width: 0px !important; */
        width: 0px !important;
        transition: 0s;
    }
}
