.header-section {
    background-color: #f8f9fa !important;
    border-bottom: 1px solid #a0a0a0;
}
/* 
.header-navbar {
    height: 100%;
} */

.header-sidebar-btn {
    padding: 10px;
}

.header-sidebar-btn button {
    background: #007bff;
    color: white;
}
